---
http_interactions:
- request:
    method: get
    uri: https://api.us-sandbox.afterpay.com/v2/payments/INVALID_ORDER_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - kaml4u6rplasbgh7a7b5rjlb54
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "not_found",
          "errorId" : "ede919d5808edf1d",
          "message" : "Afterpay payment ID not found.",
          "httpStatusCode" : 404
        }
  recorded_at: Tue, 31 Aug 2021 10:29:43 GMT
recorded_with: VCR 6.0.0
