---
http_interactions:
- request:
    method: post
    uri: https://api.us-sandbox.afterpay.com/v2/payments/INVALID_RESPONSE_CODE/capture
    body:
      encoding: UTF-8
      string: '{"token":null,"merchantReference":null,"amount":{"amount":"10.0","currency":"USD"}}'
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - 65heouufjkegv3vl5qb4i73xcy
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errorCode" : "not_found",
          "errorId" : "b02ca4e229954972",
          "message" : "Afterpay payment ID not found.",
          "httpStatusCode" : 404
        }
  recorded_at: Mon, 30 Aug 2021 08:48:27 GMT
recorded_with: VCR 6.0.0
