---
http_interactions:
- request:
    method: post
    uri: https://global-api-sandbox.afterpay.com/v2/payments/100101782114/capture
    body:
      encoding: UTF-8
      string: '{"token":null,"merchantReference":null,"amount":{"amount":"10.0","currency":"USD"}}'
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - ozupbu4dmlivkgkqcb3hse46pa
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "100101782114",
          "token" : "002.6pp2jr5uhgakhroekobc8ei75jsb0aicevunbcudl094dir7",
          "status" : "APPROVED",
          "created" : "2021-08-30T08:45:58.336Z",
          "originalAmount" : {
            "amount" : "26.24",
            "currency" : "USD"
          },
          "openToCaptureAmount" : {
            "amount" : "6.24",
            "currency" : "USD"
          },
          "paymentState" : "PARTIALLY_CAPTURED",
          "merchantReference" : "R735670701",
          "refunds" : [ ],
          "orderDetails" : {
            "consumer" : {
              "phoneNumber" : "",
              "givenNames" : "Christian",
              "surname" : "Rimondi",
              "email" : "admin@example.com"
            },
            "billing" : {
              "name" : "Christian Rimondi",
              "line1" : "1313 Broadway",
              "line2" : "",
              "area1" : "New York",
              "region" : "NY",
              "postcode" : "10001",
              "phoneNumber" : "12524264421"
            },
            "shipping" : {
              "name" : "Christian Rimondi",
              "line1" : "1313 Broadway",
              "line2" : "",
              "area1" : "New York",
              "region" : "NY",
              "postcode" : "10001",
              "phoneNumber" : "12524264421"
            },
            "courier" : { },
            "items" : [ {
              "name" : "Solidus T-Shirt",
              "sku" : "SOL-00003",
              "quantity" : 1,
              "price" : {
                "amount" : "19.99",
                "currency" : "USD"
              }
            } ],
            "discounts" : [ ]
          },
          "events" : [ {
            "id" : "1xRLxAGSlrW6GphmzOiNqLgUrKA",
            "created" : "2021-08-30T08:46:37.409Z",
            "expires" : "2021-09-06T08:46:37.407Z",
            "type" : "AUTH_APPROVED",
            "amount" : {
              "amount" : "26.24",
              "currency" : "USD"
            },
            "paymentEventMerchantReference" : null
          }, {
            "id" : "1xRMAnRV2coOinONSRiP64gecUd",
            "created" : "2021-08-30T08:48:26.776Z",
            "expires" : null,
            "type" : "CAPTURED",
            "amount" : {
              "amount" : "10.00",
              "currency" : "USD"
            },
            "paymentEventMerchantReference" : null
          }, {
            "id" : "1xRMAxMjwp4lx8EsOONREc3qyq2",
            "created" : "2021-08-30T08:48:27.278Z",
            "expires" : null,
            "type" : "CAPTURED",
            "amount" : {
              "amount" : "10.00",
              "currency" : "USD"
            },
            "paymentEventMerchantReference" : null
          } ]
        }
  recorded_at: Mon, 30 Aug 2021 08:48:27 GMT
recorded_with: VCR 6.0.0
