---
http_interactions:
- request:
    method: post
    uri: https://global-api-sandbox.afterpay.com/v2/checkouts
    body:
      encoding: UTF-8
      string: '{"amount":{"amount":"110.0","currency":"USD"},"consumer":{"phoneNumber":null,"givenNames":"John","surname":"Von
        Doe","email":"email1@example.com"},"billing":{"name":"John Von Doe","line1":"PO
        Box 1337","line2":"Northwest","area1":"Herndon","area2":null,"region":"AL","postcode":"10001","countryCode":null,"phoneNumber":"555-555-0199"},"shipping":{"name":"John
        Von Doe","line1":"A Different Road","line2":"Northwest","area1":"Herndon","area2":null,"region":"AL","postcode":"10002","countryCode":null,"phoneNumber":"555-555-0199"},"courier":null,"items":[{"name":"Product
        #1 - 4517","sku":"SKU-1","pageUrl":null,"imageUrl":null,"quantity":1,"price":{"amount":"10.0","currency":"USD"},"categories":null,"estimatedShipmentDate":null}],"discounts":null,"merchant":{"redirectConfirmUrl":"INVALID_URL","redirectCancelUrl":"https://merchantsite.com/cancel"},"paymentType":null,"merchantReference":"R454538030","taxAmount":null,"shippingAmount":null}'
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - wcojzlfj2rfkqm4w6ayrvuynnq
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "invalid_object",
          "errorId" : "6a7240c88a0d76d5",
          "message" : "merchant.redirectConfirmUrl must be a valid URL",
          "httpStatusCode" : 422
        }
  recorded_at: Wed, 25 Aug 2021 14:56:00 GMT
recorded_with: VCR 6.0.0
