---
http_interactions:
- request:
    method: post
    uri: https://global-api-sandbox.afterpay.com/v2/checkouts
    body:
      encoding: UTF-8
      string: '{"amount":{"amount":"110.0","currency":"USD"},"consumer":{"phoneNumber":null,"givenNames":"John","surname":"Von
        Doe","email":"email3@example.com"},"billing":{"name":"John Von Doe","line1":"PO
        Box 1337","line2":"Northwest","area1":"Herndon","area2":null,"region":"AL","postcode":"10005","countryCode":null,"phoneNumber":"555-555-0199"},"shipping":{"name":"John
        Von Doe","line1":"A Different Road","line2":"Northwest","area1":"Herndon","area2":null,"region":"AL","postcode":"10006","countryCode":null,"phoneNumber":"555-555-0199"},"courier":null,"items":[{"name":"Product
        #3 - 9548","sku":"SKU-3","pageUrl":null,"imageUrl":null,"quantity":1,"price":{"amount":"10.0","currency":"USD"},"categories":null,"estimatedShipmentDate":null}],"discounts":null,"merchant":{"redirectConfirmUrl":"https://merchantsite.com/confirm","redirectCancelUrl":"https://merchantsite.com/cancel"},"paymentType":null,"merchantReference":"R444808561","taxAmount":null,"shippingAmount":null}'
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - rdpkhcwkeqlv2irhiask3pltjm
    body:
      encoding: UTF-8
      string: |-
        {
          "token" : "002.nq5oa41fisldkbfvtfjqc9nl1c6jhjna0b92osmstabi2lse",
          "expires" : "2021-08-25T17:56:00.817Z",
          "redirectCheckoutUrl" : "https://portal.sandbox.afterpay.com/us/checkout/?token=002.nq5oa41fisldkbfvtfjqc9nl1c6jhjna0b92osmstabi2lse"
        }
  recorded_at: Wed, 25 Aug 2021 14:56:00 GMT
recorded_with: VCR 6.0.0
