---
http_interactions:
- request:
    method: post
    uri: https://global-api-sandbox.afterpay.com/v2/payments/INVALID_RESPONSE_CODE/void
    body:
      encoding: UTF-8
      string: '{"token":null,"merchantReference":null,"amount":{"amount":"10.0","currency":"USD"}}'
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - nvru4vd2rc77r254b3aklc2uxm
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errorCode" : "not_found",
          "errorId" : "6867bf55cc14fa09",
          "message" : "Afterpay payment ID not found.",
          "httpStatusCode" : 404
        }
  recorded_at: Tue, 31 Aug 2021 10:19:45 GMT
recorded_with: VCR 6.0.0
