---
http_interactions:
- request:
    method: post
    uri: https://global-api-sandbox.afterpay.com/v2/payments/100101785223/void
    body:
      encoding: UTF-8
      string: '{"token":null,"merchantReference":null,"amount":{"amount":"10.0","currency":"USD"}}'
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - 3djladyckq4eyixzpg25kpstqu
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "100101785223",
          "token" : "002.e247pp0rcn2fp1qvkfga4dtnnjk1858p389alt6738j5flm9",
          "status" : "APPROVED",
          "created" : "2021-08-31T10:21:04.482Z",
          "originalAmount" : {
            "amount" : "26.24",
            "currency" : "USD"
          },
          "openToCaptureAmount" : {
            "amount" : "16.24",
            "currency" : "USD"
          },
          "paymentState" : "AUTH_APPROVED",
          "merchantReference" : "R435232519",
          "refunds" : [ {
            "amount" : {
              "amount" : "10.00",
              "currency" : "USD"
            },
            "refundId" : "1948421",
            "refundedAt" : "2021-08-31T10:22:02.911Z"
          } ],
          "orderDetails" : {
            "consumer" : {
              "phoneNumber" : "",
              "givenNames" : "Christian",
              "surname" : "Rimondi",
              "email" : "admin@example.com"
            },
            "billing" : {
              "name" : "Christian Rimondi",
              "line1" : "1313 Broadway",
              "line2" : "",
              "area1" : "New York",
              "region" : "NY",
              "postcode" : "10001",
              "phoneNumber" : "12524264421"
            },
            "shipping" : {
              "name" : "Christian Rimondi",
              "line1" : "1313 Broadway",
              "line2" : "",
              "area1" : "New York",
              "region" : "NY",
              "postcode" : "10001",
              "phoneNumber" : "12524264421"
            },
            "courier" : { },
            "items" : [ {
              "name" : "Solidus T-Shirt",
              "sku" : "SOL-00003",
              "quantity" : 1,
              "price" : {
                "amount" : "19.99",
                "currency" : "USD"
              }
            } ],
            "discounts" : [ ]
          },
          "events" : [ {
            "id" : "1xUMc5a8zg55pFQOS3AIRh8Aozs",
            "created" : "2021-08-31T10:21:29.045Z",
            "expires" : "2021-09-07T10:21:29.044Z",
            "type" : "AUTH_APPROVED",
            "amount" : {
              "amount" : "26.24",
              "currency" : "USD"
            },
            "paymentEventMerchantReference" : null
          }, {
            "id" : "1xUMgHuj1jjX1bYsQRYhUjVK9Gz",
            "created" : "2021-08-31T10:22:02.927Z",
            "expires" : null,
            "type" : "VOIDED",
            "amount" : {
              "amount" : "10.00",
              "currency" : "USD"
            },
            "paymentEventMerchantReference" : null
          } ]
        }
  recorded_at: Tue, 31 Aug 2021 10:22:03 GMT
recorded_with: VCR 6.0.0
