---
http_interactions:
- request:
    method: post
    uri: https://global-api-sandbox.afterpay.com/v2/payments/INVALID_RESPONSE_CODE/refund
    body:
      encoding: UTF-8
      string: '{"requestId":null,"merchantReference":null,"refundMerchantReference":null,"amount":{"amount":"10.0","currency":"USD"}}'
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - niezt4yj2dkazwuaxcylyctiia
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errorCode" : "not_found",
          "errorId" : "c7585eb6f53f5af5",
          "message" : "Afterpay payment ID not found.",
          "httpStatusCode" : 404
        }
  recorded_at: Wed, 25 Aug 2021 14:56:01 GMT
recorded_with: VCR 6.0.0
