---
http_interactions:
- request:
    method: post
    uri: https://api.us-sandbox.afterpay.com/v2/payments/100101768366/refund
    body:
      encoding: UTF-8
      string: '{"requestId":null,"merchantReference":null,"refundMerchantReference":null,"amount":{"amount":"10.0","currency":"USD"}}'
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - 24wpvce67xhgrrg5pqe3fgduda
    body:
      encoding: UTF-8
      string: |-
        {
          "amount" : {
            "amount" : "10.00",
            "currency" : "USD"
          },
          "refundId" : "1934419",
          "refundedAt" : "2021-08-25T14:56:33.753Z"
        }
  recorded_at: Wed, 25 Aug 2021 14:56:33 GMT
recorded_with: VCR 6.0.0
