---
http_interactions:
- request:
    method: post
    uri: https://global-api-sandbox.afterpay.com/v2/payments/auth
    body:
      encoding: UTF-8
      string: '{"token":"002.ijlqnvko1o4ou45uabplrl9pqao8u2v52njs2972r24hje65","merchantReference":null,"amount":null}'
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
      Content-Type:
      - application/json
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - gnficlh6g2sky5fijzcyzjocta
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "100101773585",
          "token" : "002.ijlqnvko1o4ou45uabplrl9pqao8u2v52njs2972r24hje65",
          "status" : "DECLINED",
          "created" : "2021-08-26T16:47:46.907Z",
          "originalAmount" : {
            "amount" : "26.24",
            "currency" : "USD"
          },
          "openToCaptureAmount" : {
            "amount" : "26.24",
            "currency" : "USD"
          },
          "paymentState" : "AUTH_DECLINED",
          "merchantReference" : "R735670701",
          "refunds" : [ ],
          "orderDetails" : {
            "consumer" : {
              "phoneNumber" : "",
              "givenNames" : "Christian",
              "surname" : "Rimondi",
              "email" : "admin@example.com"
            },
            "billing" : {
              "name" : "Christian Rimondi",
              "line1" : "1313 Broadway",
              "line2" : "",
              "area1" : "New York",
              "region" : "NY",
              "postcode" : "10001",
              "phoneNumber" : "12524264421"
            },
            "shipping" : {
              "name" : "Christian Rimondi",
              "line1" : "1313 Broadway",
              "line2" : "",
              "area1" : "New York",
              "region" : "NY",
              "postcode" : "10001",
              "phoneNumber" : "12524264421"
            },
            "courier" : { },
            "items" : [ {
              "name" : "Solidus T-Shirt",
              "sku" : "SOL-00003",
              "quantity" : 1,
              "price" : {
                "amount" : "19.99",
                "currency" : "USD"
              }
            } ],
            "discounts" : [ ]
          },
          "events" : [ {
            "id" : "1xH0Ei1o80ZUK4uYjCo3FMilGdK",
            "created" : "2021-08-26T16:49:56.938Z",
            "expires" : null,
            "type" : "AUTH_DECLINED",
            "amount" : {
              "amount" : "26.24",
              "currency" : "USD"
            },
            "paymentEventMerchantReference" : null
          } ]
        }
  recorded_at: Thu, 26 Aug 2021 16:49:57 GMT
recorded_with: VCR 6.0.0
