---
http_interactions:
- request:
    method: post
    uri: https://global-api-sandbox.afterpay.com/v2/payments/auth
    body:
      encoding: UTF-8
      string: '{"token":"INVALID_TOKEN","merchantReference":null,"amount":null}'
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
      Content-Type:
      - application/json
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - mivm6ycf3d6giix6nilde7b3la
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "invalid_token",
          "errorId" : "bff68cc7fdcdca58",
          "message" : "Cannot complete payment, expired or invalid token.",
          "httpStatusCode" : 402
        }
  recorded_at: Thu, 26 Aug 2021 16:19:00 GMT
recorded_with: VCR 6.0.0
