---
http_interactions:
- request:
    method: post
    uri: https://global-api-sandbox.afterpay.com/v2/payments/capture
    body:
      encoding: UTF-8
      string: '{"token":"002.kj16plsn63eqfacueg767cp7l34e9ph5tms4ql14o2iid7l1","merchantReference":null,"amount":null}'
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - wbzt22o3ajpm2efimhqfmwst6m
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "100101770179",
          "token" : "002.kj16plsn63eqfacueg767cp7l34e9ph5tms4ql14o2iid7l1",
          "status" : "DECLINED",
          "created" : "2021-08-25T09:46:39.126Z",
          "originalAmount" : {
            "amount" : "22.04",
            "currency" : "USD"
          },
          "openToCaptureAmount" : {
            "amount" : "22.04",
            "currency" : "USD"
          },
          "paymentState" : "CAPTURE_DECLINED",
          "merchantReference" : "R628448628",
          "refunds" : [ ],
          "orderDetails" : {
            "consumer" : {
              "phoneNumber" : "",
              "givenNames" : "Christian",
              "surname" : "Rimondi",
              "email" : "admin@example.com"
            },
            "billing" : {
              "name" : "Christian Rimondi",
              "line1" : "1313 Broadway",
              "line2" : "",
              "area1" : "New York",
              "region" : "NY",
              "postcode" : "10001",
              "phoneNumber" : "12524264421"
            },
            "shipping" : {
              "name" : "Christian Rimondi",
              "line1" : "1313 Broadway",
              "line2" : "",
              "area1" : "New York",
              "region" : "NY",
              "postcode" : "10001",
              "phoneNumber" : "12524264421"
            },
            "courier" : { },
            "items" : [ {
              "name" : "Ruby Tote",
              "sku" : "RUB-TOT01",
              "quantity" : 1,
              "price" : {
                "amount" : "15.99",
                "currency" : "USD"
              }
            } ],
            "discounts" : [ ]
          },
          "events" : [ {
            "id" : "1xDM3uHavfYqSFPWoQTNQgwrERa",
            "created" : "2021-08-25T09:50:09.174Z",
            "expires" : null,
            "type" : "CAPTURE_DECLINED",
            "amount" : {
              "amount" : "22.04",
              "currency" : "USD"
            },
            "paymentEventMerchantReference" : null
          } ]
        }
  recorded_at: Wed, 25 Aug 2021 14:57:17 GMT
recorded_with: VCR 6.0.0
