---
http_interactions:
- request:
    method: post
    uri: https://global-api-sandbox.afterpay.com/v2/payments/capture
    body:
      encoding: UTF-8
      string: '{"token":"INVALID_TOKEN","merchantReference":null,"amount":null}'
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
      Content-Type:
      - application/json
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - 2m54dxammo5yivs22xpqy5ymp4
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "invalid_token",
          "errorId" : "da76c8c79d41e92b",
          "message" : "Cannot complete payment, expired or invalid token.",
          "httpStatusCode" : 402
        }
  recorded_at: Wed, 25 Aug 2021 14:55:10 GMT
recorded_with: VCR 6.0.0
