---
http_interactions:
- request:
    method: get
    uri: https://global-api-sandbox.afterpay.com/v2/checkouts/INVALID_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
  response:
    status:
      code: 412
      message: Precondition Failed
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - n77tvm4ti5ngv6qbdz2o5vxan4
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "invalid_token",
          "errorId" : "632c34635772cf87",
          "message" : "Invalid token",
          "httpStatusCode" : 412
        }
  recorded_at: Fri, 10 Sep 2021 12:55:37 GMT
recorded_with: VCR 6.0.0
