---
http_interactions:
- request:
    method: get
    uri: https://global-api-sandbox.afterpay.com/v2/checkouts/002.cb9qevbs1o4el3adh817hqkotkbv4b8u1jkekofd3nb2m8lu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - rphr5wjy4lhxns243hqra4me7i
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "token" : "002.cb9qevbs1o4el3adh817hqkotkbv4b8u1jkekofd3nb2m8lu",
          "expires" : "2021-09-10T15:54:05.463Z",
          "redirectCheckoutUrl" : "https://portal.sandbox.afterpay.com/us/checkout/?token=002.cb9qevbs1o4el3adh817hqkotkbv4b8u1jkekofd3nb2m8lu",
          "amount" : {
            "amount" : "53.53",
            "currency" : "USD"
          },
          "consumer" : {
            "phoneNumber" : "",
            "givenNames" : "John",
            "surname" : "Doe",
            "email" : "andreavassallo@nebulab.com"
          },
          "billing" : {
            "name" : "John Doe",
            "line1" : "8125 Centre St",
            "line2" : "",
            "area1" : "Citronelle",
            "region" : "AL",
            "postcode" : "36522",
            "phoneNumber" : "12123234223"
          },
          "shipping" : {
            "name" : "John Doe",
            "line1" : "8125 Centre St",
            "area1" : "Citronelle",
            "region" : "AL",
            "postcode" : "36522",
            "countryCode" : "US",
            "phoneNumber" : "12123234223"
          },
          "courier" : { },
          "items" : [ {
            "name" : "Solidus T-Shirt",
            "sku" : "SOL-00003",
            "quantity" : 1,
            "price" : {
              "amount" : "19.99",
              "currency" : "USD"
            }
          }, {
            "name" : "Solidus Snapback Cap",
            "sku" : "SOL-SNC01",
            "quantity" : 1,
            "price" : {
              "amount" : "15.99",
              "currency" : "USD"
            }
          } ],
          "merchant" : {
            "redirectConfirmUrl" : "http://localhost:5000/solidus_afterpay/callbacks/confirm?order_number=R063381025&payment_method_id=4",
            "redirectCancelUrl" : "http://localhost:5000/solidus_afterpay/callbacks/cancel?order_number=R063381025&payment_method_id=4",
            "popupOriginUrl" : "http://localhost:5000/cart"
          },
          "discounts" : [ ],
          "merchantReference" : "R063381025",
          "shippingOptionIdentifier" : "999",
          "shippingOptions" : {
            "supportedShippingCountries" : [ ]
          }
        }
  recorded_at: Fri, 10 Sep 2021 12:55:37 GMT
recorded_with: VCR 6.0.0
