---
http_interactions:
- request:
    method: get
    uri: https://global-api-sandbox.afterpay.com/v2/configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - u73bnoiwo265mfjp7rdrdzfsxu
    body:
      encoding: UTF-8
      string: |-
        {
          "minimumAmount" : {
            "amount" : "1.00",
            "currency" : "USD"
          },
          "maximumAmount" : {
            "amount" : "1000.00",
            "currency" : "USD"
          }
        }
  recorded_at: Wed, 25 Aug 2021 14:56:02 GMT
recorded_with: VCR 6.0.0
